P{

    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: black;

}
.parrafoMain{
    font-size: 30px;
    color: black;

}

.fondoparrafo{
    background-color: black;
}

.parrafoAmarillo{
    color: grey;
}

footer{
    background-color: whitesmoke;
}


header{
    background-color: black;
    color: whitesmoke;
}